<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body class="  ">
<aside th:replace="~{fragments :: sidebar(number=${pageN})}"></aside>
<main class="main-content">
    <div th:replace="~{fragments :: navbar}"></div>
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div th:replace="~{addForm :: form(${object},${lin})}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!--<script type="text/javascript">-->
<!--&lt;!&ndash;var a = document.getElementById("main_image");&ndash;&gt;-->
<!--&lt;!&ndash;function readUrl(input){&ndash;&gt;-->
<!--&lt;!&ndash;    if(input.files){&ndash;&gt;-->
<!--&lt;!&ndash;        var reader = new FileReader()&ndash;&gt;-->
<!--&lt;!&ndash;        reader.readAsDataURL(input.files[0]);&ndash;&gt;-->
<!--&lt;!&ndash;        reader.onload=(e)=>{&ndash;&gt;-->
<!--&lt;!&ndash;            a.src = e.target.result;&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    }&ndash;&gt;-->
<!--&lt;!&ndash;}&ndash;&gt;-->

<!--removeImg=()=>{-->
<!--    a.src="https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg";-->
<!--}-->

<!--}-->

<!--previewBeforeUpload("Image1");-->
<!--previewBeforeUpload("Image2");-->
<!--previewBeforeUpload("Image3");-->
<!--</script>-->
</body>
</html>