<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kino CMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<header th:replace="~{fragments :: header(${mainPage},${pagenumb},${newPages},${aboutCinemaPage}, ${cafePage}, ${vipHallPage}, ${adPage}, ${childrenRoomPage},${contactPage})}"></header>
<body style="margin-top:155px">
<div class="mx-auto pb-5" style="width:1030px; background-color:white;" >
    <div class="conatiner-fluid  py-0">
        <h4 style="text-align:center" class="my-4">Сьогодні в прокаті</h4>
        <div class="row  gx-5 mx-5 mb-3">
            <th:block th:each="posterFilm : ${posterFilms}">
                <a th:href="@{/film/{id} (id=${posterFilm.film.id})}" class="col-3" style="text-decoration:none; color:black">
                    <div class=" d-flex flex-column justify-content-center">
                        <img th:src="@{'/uploads/'+ ${posterFilm.film.imageGallery.mainImage}}" style="height:250px">
                        <h5 th:text="${posterFilm.film.name}" class="mt-2" style="text-align:center; height:60px;"></h5>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
</div>

</body>
<div th:replace="~{fragments :: footer(${newPages},${aboutCinemaPage}, ${cafePage}, ${vipHallPage}, ${adPage}, ${childrenRoomPage}, ${contactPage})}"></div>
</html>