<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body class="  ">
<aside th:replace="~{fragments :: sidebar(number=${pageM})}"></aside>
<main class="main-content">
  <div th:replace="~{fragments :: navbar}"></div>
  <div class="conatiner-fluid content-inner mt-n5 py-0">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-end mb-5">
              <a th:href="@{/admin/cinemas/new}" type="button" class="btn btn-soft-primary col-3" ><i class="bi bi-plus-lg"></i> Додати кінотеатр</a>
            </div>
            <div class="row  g-5">
              <th:block th:each="cinema : ${cinemas}">
                <div class="col-3">
                  <a th:href="@{/admin/cinemas/edit/{id}(id=${cinema.id})}">
                  <div class="card" style="position:relative;">
                    <img th:src="@{'/uploads/'+ ${cinema.imageGallery.mainImage}}" class="card-img-top" style="height:150px">
                    <a th:href="@{/admin/cinemas/delete/{id}(id=${cinema.id})}" style="position: absolute; float:right; z-index: 1; top: -8%; right: -8%;"><h4><i class="bi bi-x-circle"></i></h4></a>
                    <div class="card-body text-center">
                      <h5 class="card-title" th:text="${cinema.name}" style="color:black;"></h5>
                    </div>
                  </div>
                  </a>
                </div>
              </th:block>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript">
  window.onload = function() {
  localStorage.clear();
  }
</script>
</body>
</html>