<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Kino CMS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<header th:replace="~{fragments :: header(${mainPage.phone1},${mainPage.phone2},${pageM},${newPages},${aboutCinemaPage}, ${cafePage}, ${vipHallPage}, ${adPage}, ${childrenRoomPage},${contactPage})}"></header>
<body style="margin-top:145px">
<div class="mx-auto pb-5" style="width:1030px; background-color:white;" >
  <div class="conatiner-fluid  py-0">
    <img th:src="@{'/uploads/'+ ${backgroundImage.image}}" class="d-block w-100 mb-5" alt="mainBanner0" style="height:400px">
    <div class="row">
      <h4 style="text-align:center">Наші кінотеатри</h4>
    <div class="row gx-5 gy-4 col-9">
    <th:block th:each="cinema : ${cinemas}">
      <a class="col-5" style="text-decoration:none; color:black" th:href="@{/cinemas/cinema/{id} (id=${cinema.id})}">
      <div class="d-flex flex-column justify-content-center">
        <img th:src="@{'/uploads/'+ ${cinema.imageGallery.mainImage}}" style="height:200px">
        <h5 th:text="${cinema.name}" class="mt-2" style="text-align:center;"></h5>
      </div>
      </a>
    </th:block>
    </div>
      <div class="col-3">
        <div class="col-12 mt-5" style="color:black; border:solid; height: 300px;">
          <h5 class="mt-2">Реклама</h5>
        </div>
      </div>
    </div>
    </div>
</div>
</body>
<div th:replace="~{fragments :: footer}"></div>
</html>