<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="form(obj, link)">
<form th:action = "@{/admin/{l}/new (l=${link})}" th:object = "${object}" method="post" enctype="multipart/form-data" class="row g-3" style="color:black;">
    <div class="col-md-6" >
        <label for="inputName" class="form-label">Назва новини</label>
        <input type="text" class="form-control" id="inputName"  th:field = "*{name}">
        <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div class="col-md-6">
        <label for="publicationDate" class="form-label">Дата публікації</label>
        <input id="publicationDate" class="form-control" type="date" min="1923-01-01"  th:field = "*{publicationDate}" th:value="${publicationDate}">
        <div class="text-danger" th:if="${#fields.hasErrors('publicationDate')}" th:errors="*{publicationDate}"> </div>
    </div>
    <div>
        <label for="exampleFormControlTextarea1" class="form-label">Опис</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field = "*{description}"></textarea>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label" for="inputMainImage" style="color:black;">Головна картинка</label>
        </div>
        <div class="col-auto">
            <img th:src="@{https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg}" style="width:150px; height:150px;" id="main_image">
            <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="inputMainImage" onchange="main_image.src=window.URL.createObjectURL(this.files[0])" name="mainImage">
        </div>
        <div class="col-auto">
            <label class="input-group-text col-form-label" for="inputMainImage" style="color:black;">Завантажити</label>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-outline-danger" onclick="main_image.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; inputMainImage.value = '';">Видалити</button>
        </div>
    </div>
    <label class="col-form-label" for="inputSeoTitle" style="color:black;">Галерея картинок</label>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label"  style="color:black;">Розмір: 1000х190</label>
        </div>
        <div class="col-auto">
            <div style="position:relative;">
                <button type="button" class="btn" style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img1.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image1.value = '';"><h4><i class="bi bi-x-circle"></i></h4></button>
                <img th:src="@{https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg}" style="width:120px; height:120px;" id="img1">
            </div>
            <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image1" onchange="img1.src=window.URL.createObjectURL(this.files[0])" name="image1">
            <label class="input-group-text col-form-label px-3 my-2" for="Image1" style="color:black; width:120px; font-size:13px;">Завантажити</label>
        </div>
        <div class="col-auto mx-1">
            <div style="position:relative;">
                <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_2.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image2.value = '';"><h4><i class="bi bi-x-circle"></i></h4></button>
                <img th:src="@{https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg}" style="width:120px; height:120px;" id="img_2">
            </div>
            <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image2" onchange="img_2.src=window.URL.createObjectURL(this.files[0])" name="image2">
            <label class="input-group-text col-form-label px-3 my-2" for="Image2" style="color:black; width:120px; font-size:13px;">Завантажити</label>
        </div>
        <div class="col-auto mx-1">
            <div style="position:relative;">
                <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_3.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image3.value = '';"><h4><i class="bi bi-x-circle"></i></h4></button>
                <img th:src="@{https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg}" style="width:120px; height:120px;" id="img_3">
                <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image3" onchange="img_3.src=window.URL.createObjectURL(this.files[0])" name="image3">
            </div>
            <label class="input-group-text col-form-label px-3 my-2" for="Image3" style="color:black; width:120px; font-size:13px;">Завантажити</label>
        </div>
        <div class="col-auto mx-1">
            <div style="position:relative;">
                <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_4.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image4.value = '';"><h4><i class="bi bi-x-circle"></i></h4></button>
                <img th:src="@{https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg}" style="width:120px; height:120px;" id="img_4">
                <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image4" onchange="img_4.src=window.URL.createObjectURL(this.files[0])" name="image4">
            </div>
            <label class="input-group-text col-form-label px-3 my-2" for="Image4" style="color:black; width:120px; font-size:13px;">Завантажити</label>
        </div>
        <div class="col-auto mx-1">
            <div style="position:relative;">
                <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_5.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image5.value = '';"><h4><i class="bi bi-x-circle"></i></h4></button>
                <img th:src="@{https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg}" style="width:120px; height:120px;" id="img_5">
                <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image5" onchange="img_5.src=window.URL.createObjectURL(this.files[0])" name="image5">
            </div>
            <label class="input-group-text col-form-label px-3 my-2" for="Image5" style="color:black; width:120px; font-size:13px;">Завантажити</label>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="inputLink" class="form-label text-center">Посилання на відео</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" id="inputLink"  th:field = "*{videoLink}">
        </div>
    </div>
    <label class="col-form-label" for="inputSeoTitle" style="color:black;">SEO блок</label>
    <div class="row align-items-center d-flex justify-content-center">
        <div class="col-auto">
            <label for="inputSeoURL" class="form-label text-center">URL:</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="inputSeoURL"  th:field = "*{seoBlock.url}" name="url">
        </div>
    </div>
    <div class="row align-items-center d-flex justify-content-center my-2">
        <div class="col-auto">
            <label for="inputSeoTitle" class="form-label text-center">Title:</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="inputSeoTitle"  th:field = "*{seoBlock.title}" >
            <div class="text-danger" th:if="${#fields.hasErrors('seoBlock.title')}" th:errors="*{seoBlock.title}"></div>
        </div>
    </div>
    <div class="row align-items-center d-flex justify-content-center my-2">
        <div class="col-auto">
            <label for="inputSeoKeywords" class="form-label text-center">Keywords:</label>
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="inputSeoKeywords"  th:field = "*{seoBlock.keywords}" name="keywords">
        </div>
    </div>
    <div class="row align-items-center justify-content-center my-2">
        <div class="col-auto">
            <label for="inputSeoDescription" class="form-label">Description:</label>
        </div>
        <div class="col-7">
            <textarea class="form-control" id="inputSeoDescription" rows="3"  th:field = "*{seoBlock.description}" name="description"></textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('seoBlock.description')}" th:errors="*{seoBlock.description}"></div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary">Зберегти</button>
    </div>
</form>
</div>
</body>
</html>