<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="form(obj, link, hallList, editLink, deleteLink, createLink)">
    <form th:action = "@{/admin/{l} (l=${link})}" th:object = "${object}" method="post" enctype="multipart/form-data" class="row g-3" style="color:black;">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputName" class="form-label">Назва кінотеатру</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputName"  th:field = "*{name}">
                <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>
        <div>
            <label for="inputDescription" class="form-label">Опис</label>
            <textarea class="form-control" id="inputDescription" rows="3" th:field = "*{description}"></textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"> </div>
        </div>
        <div>
            <label for="facilities" class="form-label">Умови</label>
            <textarea class="form-control" id="facilities" rows="3" th:field = "*{facilities}"></textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('facilities')}" th:errors="*{facilities}"> </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" for="inputMainImage" style="color:black;">Логотип</label>
            </div>
            <div class="col-auto">
                <img th:src="*{logo} != null? @{'/uploads/'+ *{logo}}: @{'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'}" style="width:150px; height:150px;" id="logo">
                <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="logoImage" onchange="logo.src=window.URL.createObjectURL(this.files[0])" name="logoImage">
            </div>
            <div class="col-auto">
                <label class="input-group-text col-form-label" for="logoImage" style="color:black;">Завантажити</label>
                <div th:text="${logoWarning}" style="color: red"></div>
                <input type="text" class="d-none"  th:value = "*{logo}" id="logoImageName" name="logoImageName">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-danger" onclick="logo.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; logoImage.value = ''; logoImageName.value='';">Видалити</button>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label" for="inputMainImage" style="color:black;">Фото верхнього банеру</label>
            </div>
            <div class="col-auto">
                <img th:src="*{imageGallery?.mainImage} != null? @{'/uploads/'+ *{imageGallery?.mainImage}}: @{'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'}" style="width:150px; height:150px;" id="main_image">
                <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="inputMainImage" onchange="main_image.src=window.URL.createObjectURL(this.files[0])" name="mainImage">
            </div>
            <div class="col-auto">
                <label class="input-group-text col-form-label" for="inputMainImage" style="color:black;">Завантажити</label>
                <div th:text="${mainWarning}" style="color: red"></div>
                <input type="text" class="d-none"  th:value = "*{imageGallery?.mainImage}" id="mainImageName" name="mainImageName">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-outline-danger" onclick="main_image.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; inputMainImage.value = ''; mainImageName.value = ''">Видалити</button>
            </div>
        </div>
        <label class="col-form-label" for="inputSeoTitle" style="color:black;">Галерея картинок</label>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label"  style="color:black;">Розмір: 1000х190</label>
            </div>
            <div class="col-auto">
                <div style="position:relative;">
                    <button type="button" class="btn" style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img1.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image1.value = ''; image1Name.value='';"><h4><i class="bi bi-x-circle"></i></h4></button>
                    <img th:src="*{imageGallery?.image1} != null? @{'/uploads/'+ *{imageGallery?.image1}}: @{'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'}" style="width:120px; height:120px;" id="img1">
                </div>
                <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image1" onchange="img1.src=window.URL.createObjectURL(this.files[0])" name="image1">
                <label class="input-group-text col-form-label px-3 my-2" for="Image1" style="color:black; width:120px; font-size:13px;">Завантажити</label>
                <div th:text="${image1Warning}" style="color: red; font-size: 11px"></div>
                <input type="text" class="d-none"  th:value = "*{imageGallery?.image1}" id="image1Name" name="image1Name">
            </div>
            <div class="col-auto mx-1">
                <div style="position:relative;">
                    <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_2.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image2.value = ''; image2Name.value='';"><h4><i class="bi bi-x-circle"></i></h4></button>
                    <img th:src="*{imageGallery?.image2} != null? @{'/uploads/'+ *{imageGallery?.image2}}: @{'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'}" style="width:120px; height:120px;" id="img_2">
                </div>
                <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image2" onchange="img_2.src=window.URL.createObjectURL(this.files[0])" name="image2">
                <label class="input-group-text col-form-label px-3 my-2" for="Image2" style="color:black; width:120px; font-size:13px;">Завантажити</label>
                <div th:text="${image2Warning}" style="color: red; font-size: 11px"></div>
                <input type="text" class="d-none"  th:value = "*{imageGallery?.image2}" id="image2Name" name="image2Name">
            </div>
            <div class="col-auto mx-1">
                <div style="position:relative;">
                    <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_3.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image3.value = ''; image3Name.value='';"><h4><i class="bi bi-x-circle"></i></h4></button>
                    <img th:src="*{imageGallery?.image3} != null? @{'/uploads/'+ *{imageGallery?.image3}}: @{'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'}" style="width:120px; height:120px;" id="img_3">
                    <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image3" onchange="img_3.src=window.URL.createObjectURL(this.files[0])" name="image3">
                </div>
                <label class="input-group-text col-form-label px-3 my-2" for="Image3" style="color:black; width:120px; font-size:13px;">Завантажити</label>
                <div th:text="${image3Warning}" style="color: red; font-size: 11px"></div>
                <input type="text" class="d-none"  th:value = "*{imageGallery?.image3}" id="image3Name" name="image3Name">
            </div>
            <div class="col-auto mx-1">
                <div style="position:relative;">
                    <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_4.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image4.value = ''; image4Name.value='';"><h4><i class="bi bi-x-circle"></i></h4></button>
                    <img th:src="*{imageGallery?.image4} != null? @{'/uploads/'+ *{imageGallery?.image4}}: @{'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'}" style="width:120px; height:120px;" id="img_4">
                    <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image4" onchange="img_4.src=window.URL.createObjectURL(this.files[0])" name="image4">
                </div>
                <label class="input-group-text col-form-label px-3 my-2" for="Image4" style="color:black; width:120px; font-size:13px;">Завантажити</label>
                <div th:text="${image4Warning}" style="color: red; font-size: 11px"></div>
                <input type="text" class="d-none"  th:value = "*{imageGallery?.image4}" id="image4Name" name="image4Name">
            </div>
            <div class="col-auto mx-1">
                <div style="position:relative;">
                    <button type="button" class="btn " style="position: absolute; z-index: 1; left: 88px; bottom:100px" onclick="img_5.src='https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'; Image5.value = ''; image5Name.value='';"><h4><i class="bi bi-x-circle"></i></h4></button>
                    <img th:src="*{imageGallery?.image5} != null? @{'/uploads/'+ *{imageGallery?.image5}}: @{'https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg'}" style="width:120px; height:120px;" id="img_5">
                    <input type="file" accept="image/jpeg, image/jpg, image/png" class="form-control d-none"  id="Image5" onchange="img_5.src=window.URL.createObjectURL(this.files[0])" name="image5">
                </div>
                <label class="input-group-text col-form-label px-3 my-2" for="Image5" style="color:black; width:120px; font-size:13px;">Завантажити</label>
                <div th:text="${image5Warning}" style="color: red; font-size: 11px"></div>
                <input type="text" class="d-none"  th:value = "*{imageGallery?.image5}" id="image5Name" name="image5Name">
            </div>
        </div>
        <h4 class="text-center mt-5">Список залів</h4>
        <table class="table table-striped table-bordered" style="font-size: 14px;">
            <thead>
            <tr>
                <th scope="col">Назва</th>
                <th scope="col">Дата створення</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "hall: ${hallList}">
                <td th:text = "${hall.number+ ' '+'Зала'}"></td>
                <td th:text = "${#temporals.format(hall.creationDate, 'dd-MM-yyyy')}"></td>
                <td>
                    <a th:href="@{/admin/{edit}/{id}(id=${hallStat.index}, edit=${editLink})}" role="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a>
                    <a th:href="@{/admin/{delete}/{id} (id=${hallStat.index}, delete=${deleteLink})}" role="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12 text-center my-3 mb-5">
            <a th:href="@{/admin/{create}(create=${createLink})}" type="button" class="btn btn-soft-primary col-3" ><i class="bi bi-plus-lg"></i> Створити залу</a>
        </div>

        <label class="col-form-label" for="inputSeoTitle" style="color:black;">SEO блок</label>
        <div class="row align-items-center d-flex justify-content-center">
            <div class="col-auto">
                <label for="inputSeoURL" class="form-label text-center">URL:</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSeoURL"  th:field = "*{seoBlock.url}" name="url">
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center my-2">
            <div class="col-auto">
                <label for="inputSeoTitle" class="form-label text-center">Title:</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSeoTitle"  th:field = "*{seoBlock.title}" >
                <div class="text-danger" th:if="${#fields.hasErrors('seoBlock.title')}" th:errors="*{seoBlock.title}"></div>
            </div>
        </div>
        <div class="row align-items-center d-flex justify-content-center my-2">
            <div class="col-auto">
                <label for="inputSeoKeywords" class="form-label text-center">Keywords:</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="inputSeoKeywords"  th:field = "*{seoBlock.keywords}" name="keywords">
            </div>
        </div>
        <div class="row align-items-center justify-content-center my-2">
            <div class="col-auto">
                <label for="inputSeoDescription" class="form-label">Description:</label>
            </div>
            <div class="col-7">
                <textarea class="form-control" id="inputSeoDescription" rows="3"  th:field = "*{seoBlock.description}" name="description"></textarea>
                <div class="text-danger" th:if="${#fields.hasErrors('seoBlock.description')}" th:errors="*{seoBlock.description}"></div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Зберегти</button>
        </div>
    </form>
    <script type="text/javascript">
   window.onbeforeunload = function() {
   window.localStorage.setItem("name", document.getElementById('inputName').value);
   window.localStorage.setItem("description", document.getElementById('inputDescription').value);
   window.localStorage.setItem("facilities", document.getElementById('facilities').value);
   window.localStorage.setItem("url", document.getElementById('inputSeoURL').value);
   window.localStorage.setItem("title", document.getElementById('inputSeoTitle').value);
   window.localStorage.setItem("keywords", document.getElementById('inputSeoKeywords').value);
   window.localStorage.setItem("seoDescription", document.getElementById('inputSeoDescription').value);
   }
   window.onload = function() {
   var name = window.localStorage.getItem('name');
   var description = window.localStorage.getItem('description');
   var facilities = window.localStorage.getItem('facilities');
   var url = window.localStorage.getItem('url');
   var title = window.localStorage.getItem('title');
   var keywords = window.localStorage.getItem('keywords');
   var seoDescription = window.localStorage.getItem('seoDescription');
   if (name !== null) document.getElementById('inputName').value=name;
   if (description !== null) document.getElementById('inputDescription').value=description;
   if (facilities !== null) document.getElementById('facilities').value=facilities;
   if (url !== null) document.getElementById('inputSeoURL').value=url;
   if (title !== null) document.getElementById('inputSeoTitle').value=title;
   if (keywords !== null) document.getElementById('inputSeoKeywords').value=keywords;
   if (seoDescription !== null) document.getElementById('inputSeoDescription').value=seoDescription;
}
</script>
</div>
</body>
</html>