<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kino CMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<header th:replace="~{fragments :: header(${mainPage},${pagenm},${newPages},${aboutCinemaPage}, ${cafePage}, ${vipHallPage}, ${adPage}, ${childrenRoomPage}, ${contactPage})}"></header>
<body style="margin-top:145px">
<div class="mx-auto pb-5" style="width:1030px; background-color:white;" >
    <div class="conatiner-fluid  py-0">
        <img th:src="@{/assets/images/161764433_hi-res.jpg}" class="d-block w-100 mb-5" alt="mainBanner0" style="height:450px">
        <div class="row">
        <div class="row gx-4 gy-4 col-10">
            <th:block th:each="share : ${shares}">
                <a class="col-4" style="text-decoration:none; color:black" th:href="@{/{lin}/{id} (id=${share.id},lin=${link})}">
                    <div class="d-flex flex-column justify-content-center">
                        <img th:src="@{'/uploads/'+ ${share.imageGallery.mainImage}}" style="width:250px">
                        <h5 th:text="${share.name}" class="mt-2" style="text-align:center;"></h5>
                        <div class="row">
                            <h7 class="col-4" th:text="${#temporals.format(share.publicationDate, 'dd.MM.yyyy')}"></h7>
                            <th:block th:each="keyword : ${#strings.arraySplit(share.seoBlock.keywords,',')}">
                                <span class="px-2 col-3 ms-1" th:text="${keyword}" style="background-color:#E0B0FF; border-radius: 20px; font-size:12px; text-align:center;"></span>
                            </th:block>
                        </div>
                    </div>
                </a>
            </th:block>
            <nav aria-label="Page navigation example" class="mt-5" th:if="${totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li th:class="${currentPage == 1? 'page-item disabled': 'page-item'}"><a class="page-link" th:href="@{/{pageLin}/{pageNum} (pageNum=${pageNumber-1}, pageLin=${pageLink})}">Previous</a></li>
                    <th:block th:each="pageNumber: ${#numbers.sequence(1, totalPages)}">
                        <li th:class="${pageNumber == currentPage? 'page-item active': 'page-item'}"><a class="page-link" th:href="@{/{pageLin}/{pageNum} (pageNum=${pageNumber}, pageLin=${pageLink})}" th:text="${pageNumber}">1</a></li>
                    </th:block>
                    <li th:class="${currentPage == totalPages? 'page-item disabled': 'page-item'}"><a class="page-link" th:href="@{/{pageLin}/{pageNum} (pageNum=${pageNumber+1},pageLin=${pageLink})}">Next</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-2">
            <div class="col-12 mt-5" style="color:black; border:solid; height: 300px;">
                <h5 class="mt-2">Реклама</h5>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
<div th:replace="~{fragments :: footer(${newPages},${aboutCinemaPage}, ${cafePage}, ${vipHallPage}, ${adPage}, ${childrenRoomPage}, ${contactPage})}"></div>
</html>